<div class="container-fluid">
    <h2 class="text-center">Enter The Meal You have eaten</h2>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let meal of meals;let i=index'>
          <ul>
            <li>{{meal.id+" "+"Meal Name : "+" "+meal.name+" : "+meal.details+" : "+"Calories "+meal.calories}}</li>
          </ul>
          <button type="submit" name="button" class="btn btn-success">Edit Meal</button>
          <button type="submit" (click)='deleteMeal(true)' name="button" class="btn btn-danger">Delete Meal</button>
        </div>
      </div>
      <div class="col-md-6">
        <app-meal-form (addMeal)="addNewMeal($event)"></app-meal-form>
      </div>
    </div>
  </div>
  